.button {
  border: none;
  color: white;
}

.button-edit,
.button-remove {
  border-radius: 50px;
  width: 100px;
  height: 30px;
}

.button-edit {
  background-color: #2c5282;
}

.button-remove {
  background-color: #d64d4d;
}

.button-find {
  width: 116px;
  height: 30px;
  border-radius: 50px;
  background-color: #2c5282;
}

.button-add {
  border-radius: 5px;
}

.search {
  border-bottom: 1.25px solid #718096;
  display: flex;
  align-items: center;
  width: 165px;
}

.search img {
  margin-right: 5px;
  margin-bottom: 2px;
}

.search input {
  color: #718096;
  width: 100%;
  border: none;
}

.pagination {
  width: 108px;
  margin: 0 auto;

  display: flex;
}

.pagination div {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #f1f6fa;
  line-height: 30px;
  text-align: center;
  color: #2c5282;
}

.pagination div + div {
  margin-left: 8px;
}

.pagination .pagination-selected {
  background-color: #2c5282;
  color: white;
}
